*  {
    padding: 0%;
   margin: 0px;
    box-sizing: border-box;
    } 

body  {
     background-color: #2a2a2a;
     font-family: sans-serif;
     color: #f3f3f7;
     line-height: 1.4;
   
       }

.container{
    display:grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding-top: 40px;
    max-width: 1000px;
    margin: auto;

    
    } 
 
 .sidebar{
   border: 1px solid #3a3a3a;
    background-color: #847eb0;
    height: 100vh;
    padding: 20px;
    border-radius: 6px;
    top: 10px;
    position: sticky;
    overflow: auto;
 }
  .mainpart{
     background-color: #464040;
   border: 1px solid #3a3a3a;
    
    border-radius: 6px;
    padding: 20px;
  } 
.profile  img{
  border-radius: 50%;
border: 1px solid rgb(93, 55, 9);

} 

.profile h2{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}
  .profile p{
    background-color: #847eb0;
    padding: 2px 15px;
    border: 3px solid #3a3a3a;
    color:rgb(246, 173, 37);
     border-radius: 5px;
     display: inline-block;
     font-family: jokerman ;
     margin-top: 6px;
  }
  .profile{
    text-align: center;
  }
    

  .contact {
    border-top: 2px solid rgb(89, 43, 89);
    margin-top: 15px;
    padding: 18px;
    font-size: small;
  
     }
  .HII  {
   font-weight: 500;
   color: #3b3131;
   font-size: 0.8em;
      
    } .value {
   text-decoration: none; color: antiquewhite;
      }
      
      
     .email,.phone  {
       margin-bottom: 10px;
      }
     .social  {
     margin-top: 20px;
     padding-top: 20px;
     border-top: 2px solid  #2b2e37;
     text-align: center;
     }
            
    .social img{
       cursor:pointer;
      height: 30px;
      margin-top: 10px;
      margin-left: 23px;
      
      transition: background-color;
     transition-duration: all 0.3s ease;
   } 
    .social img:hover{
       
         color: darkgoldenrod;
         transform: scale(1.2)
         rotate(10deg);
}
 #navigation{

   text-align: end;
    padding: 20px 20px ;
    word-spacing: 20px;
    color: #464040;
    
   }

   #navigation a{
    text-decoration: none;
    color: #1c0808;
  font-weight:  bold;
   font-family: fantasy;
   cursor: pointer;
   transition:all 0 3s ease ; 

} #navigation a:hover{

    color: rgb(186, 130, 26);
  transform: scale(1.5);
  rotate:(10deg);

}

#active{ 
 color: rgba(173, 185, 10, 0.593);

  }

#about{
   
  border-top: 2.5px solid  #262222;
  margin-top: 20px;
  margin-bottom: 15px ;}


 .poorvi{
  margin-top:10px ;
 }
 .line{
 width: 60px;
 height: 2.5px;
 background-color: rgb(122, 44, 155);
 margin-top: 10px;
}
.para{
  text-align: center;
  font-size: .9rem;
  font-family: cursive;
padding-top: 15px;
}

.luli{
  background-color:rgb(69, 22, 69);
  height:3px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;

}
#skill{
  margin-top: 15px;
  margin-bottom:20px;
  font-family: Verdana;
  border-top: 2.5px solid black;
  font-weight: 700;
}
.chut{
  font-size: large;
  font-family: jokerman;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap: 10px;
  gap: 40px;

}
.items img{
  height: 50px;
   margin-top: 2px;
  margin: 12px 12px 12px 12px;
  box-shadow:rgb(59, 24, 59); 
  filter: saturation(8000px); 
}
   
 .items{
  border: 3px solid rgb(136, 74, 136);
  gap: auto;
  border-radius: 7PX;
  background-color: rgb(20, 20, 70);
  cursor: pointer;
   transition: all; 

 }
  .items:hover{
    transform: scale(1.1);
    rotate:(20deg);
    box-shadow: 0px 0px 10px 10px rgb(43, 43, 80);
  }
  #education{
    margin-top: 20px;
  }
  .secondclass{
    position: relative;
    padding-bottom: 10px;  

  }
  .thirdclass{
    position: relative;
    padding-bottom: 10pz;
    
    
  }
  .linerr{
    width: 2px;
top: 0px; bottom: 0px;    position: absolute;
    border: 3px soild yellow;
  }
  .firstclass{
    position: relative;
  }

 .gand {
 font-family: monospace;
font-size: larger;
margin-bottom: 4px;
} 
.chuchi{
  font-family: cursive;
  margin-bottom:10px;


} .lund{
  margin-bottom: 7PX;
  color:rgb(226, 223, 47);
  font-weight: 1000;
}
.goal{
  border-radius: 50%;
  border: 3px solid rgb(174, 27, 120);
  height: 10px;
  width: 10px;
   position: absolute;
  top: 7px;
  left: -15px;
  
  }
  .project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
  }
  .project1 img{
    height: 135px;
    width: 190px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 2px;
     
    cursor: pointer;
     transition: background-color;
    
     transition-duration: all 0.3s ease;
    
  } 
  .project1 img:hover{ transform: scale(1.2);
    rotate: (20deg);
    color: antiquewhite;
  }
  .project1{
    border: 3px solid rgb(184, 136, 40);
    border-radius: 12px;
    content: justify;
    background-color: #262222;
    width: 350px;
    overflow: hidden;
    margin-right: 5px;
    transition: transform o,3s ease ,box-shadow 0.3s ease;
    
  }.project1:hover{
   transform: translate(-5px);
   box-shadow: 0px 0px 10px burlywood;
  }
